* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
    font-family: "Sora", sans-serif;
    /* Colors */
    --Primary-Black: #000000;
    --Primary-Neutral: #404040;
    --Primary-White: #FFFFFF;
    --Zinc-100: #F4F4F5;
    --Zinc-200: #E4E4E7;
    --Zinc-300: #D4D4D8;
    --Zinc-500: #71717A;
    --Zinc-800: #27272A;
    --Error: #EF4444;
    /* Font sizes */
    --Display-Size: 48px;
    --Display-LH: 1.16;
    --Display-Track: -0.96px;
    --Display-Size-M: 24px;
    --Display-LH-M: 1.14;
    --Display-Track-M: -0.56px;
    --Sub-Heading-Size: 40px;
    --Sub-Heading-LH: 1.2;
    --Sub-Heading-Track: -0.8px;
    --Heading1-Size: 36px;
    --Heading1-LH: 1.22;
    --Heading1-Track: -0.72px;
    --Heading2-Size: 32px;
    --Heading2-LH: 1.25;
    --Heading2-Track: -0.64px;
    --Heading3-Size: 28px;
    --Heading3-LH: 1.14;
    --Heading3-Track: -0.56px;
    --Heading4-Size: 24px;
    --Heading4-LH: 1.16;
    --Heading4-Track: -0.48px;
    --Heading5-Size: 20px;
    --Heading5-LH: 1.20;
    --Heading5-Track: -0.4px;
    --Heading6-Size: 16px;
    --Heading6-LH: 1.25;
    --Heading6-Track: -0.32px;
    --P1-Size: 20px;
    --P1-LH: 1.4;
    --P1-Track: -0.4px;
    --P2-Size: 16px;
    --P2-LH: 1.5;
    --P2-Track: -0.32px;
    --P3-Size: 12px;
    --P3-LH: 1.66;
    --P3-Track: -0.24px;
    --Button1-Text-Size: 20px;
    --Button1-Text-LH: 1.20;
    --Button1-Text-Track: -0.4px;
    --Button2-Text-Size: 16px;
    --Button2-Text-LH: 1.25;
    --Button2-Text-Track: -0.32px;
}



body {
    font-family: "Sora", sans-serif;
    color: rgb(0, 0, 0);
}
section {
    padding: 40px 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    position: sticky;
    top: 0;
    backdrop-filter: blur(3px);
    z-index: 10;

  }
  
  .brand {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--Primary-Black);
  }
  
  .brand img {
    height: 70px; /* Adjust size as needed */
    margin-right: 8px;
  }
  
  .brand span {
    font-size: var(--Heading5-Size);
    line-height: var(--Heading5-LH);
    letter-spacing: var(--Heading5-Track);
    font-weight: 700;
    color: var(--Primary-Black);
  }
  .menu-row nav ul {
    display: none;
    flex-direction: row;
  }

  /* Menu button styling */
  .menu button {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu button:focus {
    outline: none;
  }
  
  .menu button:hover {
    transform: scale(1.1);
  }
  
  .menu svg {
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease;
  }
  
  .menu .line {
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  /* Animated line transformation for burger button */
  .menu.active .line1 {
    transform: translateY(6px) rotate(45deg);
  }
  .menu.active .line2 {
    opacity: 0;
  }
  .menu.active .line3 {
    transform: translateY(-6px) rotate(-45deg);
  }
  
  /* Pop-up menu styling */
  #menu-popup {
    position:fixed;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: var(--Primary-White);
    border: black;
    border-radius: 8px;

    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transform-origin: 100% 0%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 20;
  }
  
  /* Displaying pop-up menu when active */
  #menu-popup.show {
    align-items: center;
    opacity: 1;
    transform: scale(1);
  }
  .menu-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    inset: 0;
    top: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  nav ul li a {
    font-size: var(--Heading2-Size);
    text-decoration: none;
    color: var(--Primary-Black);
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: var(--Primary-Neutral);
  }


  .menu button {
    display: flex;
    flex-direction: column;
    color: var(--Primary-Black);
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    transition: 0.3s ease;
  }
  .menu button:hover {
    border: none;
    transform: scale(1.11);
  }
  
  .menu svg {
    fill: black;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    flex-direction: column-reverse;
    gap: 48px;
  }
  
  .hero-image img {
    max-width: 100%;
    border-radius: 8px; /* Optional: to round corners */
    max-height: 350px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: right;
  }
  
  .hero-text {
    max-width: 600px;
    display: flex;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
  
  .hero-text h1 {
    font-size: var(--Display-Size-M);
    line-height: var(--Display-LH-M);
    letter-spacing: var(--Display-Track-M);
    font-weight: 400;
  }
  .hero-text h1 strong, .hero-text h1 b{
    font-weight: 800;
  }
  .hero-text h1 span {
    font-weight: 900;
    background: linear-gradient(178deg, rgb(25, 0, 255), rgb(255, 0, 0)); 
    font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }
  
  .hero-text p {
    color: var(--Zinc-500);
    font-size: var(--P2-Size);
    line-height: var(--P2-LH);
    letter-spacing: var(--P2-Track);
  }
  
  .skills {
    display: grid ;
    gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
}
h2 {
    padding: 20px 0;
    text-align: center;
    font-size: var(--Display-Size-M);
    line-height: var(--Display-LH-M);
    letter-spacing: var(--Display-Track-M);
    font-weight: 400;
}
h2 b {
    font-weight: 800;
}
.skill-item {
    column-count: 2;
    display:flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 2px solid var(--Primary-Black, #000);
    background: var(--Primary-White, #FFF);
    transition: background-color 0.3s, transform 0.3s;
    aspect-ratio: 1;
    width: auto;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax (150px, 1fr));
}
.skill-item svg {
    align-items: center;
    width: 56px;
    height: auto;
}
.skill-item p {
    color: var(--Primary-Black);
}


.skill-item:hover {
    filter: invert(1);
    /* background-color: #000000; */
    transform: scale(1.05);
}
  
  .skill svg {
    margin-right: 8px;
  }
  h2 {
    font-size: var(--Heading1-Size);
    line-height: var(--Heading1-LH);
    letter-spacing: var(--Heading1-Track);
    font-weight: 400;
    gap: 18px;
  }
  .experience, .project {
    background-color: var(--Primary-Black);
    color: var(--Primary-White);

  }
:is(.experience, .project) h2 {
    margin-bottom: 20px;
    text-align: center;
}
.experience-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experience img {
    width: 80px;
}

.experience-box {
    padding: 30px 24px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    border: 1px solid var(--Zinc-500);
    border-radius: 10px;
    transition: transform 0.3 ease-in-out, background-color 0.3 ease-in-out;
}
.experience-box:hover {
    transform: scale(1.05);
    background-color: var(--Zinc-800);
}

.box-header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.box-logo {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:none;
    border-radius: 50%;
    margin-right: 12px;
}


.box-logo h3 {
    font-size: var(--Heading5-Size);
    line-height: var(--Heading5-LH);
    letter-spacing: var(--Heading5-Track);
    font-weight: 600;
}

.box-logo span {
    font-size: var(--Heading6-Size);
    line-height: var(--Heading6-LH);
    letter-spacing: var(--Heading6-Track);
    color: var(--Zinc-300);
}

.box-header ~ p {
    font-size: var(--P2-Size);
    letter-spacing: var(--P2-Track);
    line-height: var(--P2-LH);
    color: var(--Zinc-300);
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    flex-direction: column;
 }
 .about-me img {
    max-width: 400px;
    border-radius: 8px; /* Optional: to round corners */
    max-height: 700px;
  }
 .about-me-text {
    max-width: 600px;
  }
  
  .about-me h2 {
    font-size: 2.5em;
    margin-bottom: 16px;
    font-style: normal;
  }
  
  .about-me-text p {
    font-size: 1.2em;
    color:var(--Primary-Neutral);
  }
  .project-item {
    display: flex;
    flex-direction: column;
    gap: 28px;

  }
  .project-img img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 18px;
    gap: 28px;
  }

.my-testimonial {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}
.project-item span {
    font-size: var(--Heading4-Size);
    line-height: var(--Heading4-LH);
    letter-spacing: var(--Heading4-Track);
    color: var(--Primary-White);
    font-weight: 800;
    margin-bottom: 28px;
}
.project-item h3 {
    font-size: var(--Heading4-Size);
    line-height: var(--Heading4-LH);
    letter-spacing: var(--Heading4-Track);
    color: var(--Primary-White);
    font-weight: 800;
    margin-top: 28px;
    margin-bottom: 28px;
}
.project-item p {
    font-size: var(--P2-Size);
    line-height: var(--P2-LH);
    letter-spacing: var(--P2-Track);
    color: var(--Zinc-500);
    margin-bottom: 28px;
}
.project-item a {
    color: rgb(13, 96, 250);
    margin-bottom: 28px;
}

.my-testimonial h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.testi-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.testi-box {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
.testi-box:hover {
    transform: scale(1.05);
}

.testi-box:nth-child(1),
.testi-box:nth-child(3) {
    background-color: #ffffff;
}

.testi-box:nth-child(2) {
    background-color: #000000;
    color: #ffffff;
}

.testi-img img {
    width: 100px;
    border-radius: 100%;
    margin-bottom: 15px;
    aspect-ratio: 1;
    object-fit: cover;
}

.testi-box .quote-box {
    margin-bottom: 15px;
}

.testi-box p {
    font-size: 14px;
    margin: 15px 0;
    line-height: 1.5;
}

.testi-box .line {
    width: 50%;
    height: 2px;
    background-color: #ddd;
    margin: 15px 0;
}

.testi-box h5 {
    font-size: 16px;
    font-weight: bold;
}

.testi-box span {
    font-size: 14px;
    color: #777;
}
.contact-me {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
}

.contact-form {
    flex-direction: column;
}

.contact-info {
    flex-direction: column;
    text-align: left;
}

.contact-info p {
    margin: 10px 0;
    font-size: 1rem;
    color: #000;
}

.contact-info p b {
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    align-items: center;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

button[type="submit"] {
  
    display: flex;
    height: 48px;
    padding: 12px 16px;
    padding-right: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
    transition: filter 0.3s ease;
    text-transform: uppercase;
    background-color: var(--Primary-Black);
    color: var(--Primary-White);
    border-radius: 8px;
    border-color: var(--Primary-White);
    border-style: solid;
}

button[type="submit"]:hover {
    
    filter: invert(1);
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.social-icons svg {
    
    justify-content: center;
    width: 20px;
    height: 20px;
}
.social-icons-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.social-icons-btn:hover {
    transform: translateX(-5px);
    box-shadow: 5px 0px var(--Primary-Black);
}
.site-footer {
    background-color: #000; /* Background color matching the style in the screenshot */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Ensures that elements wrap on smaller screens */
    max-width: 900px;
    margin: 0 auto;
}

.footer-branding {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-branding img {
    width: 40px; /* Adjust the logo size */
    height: 40px;
}

.footer-branding p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.footer-copyright p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #aaa; /* Light gray text for the copyright notice */
}

@media screen and (min-width: 1024px) {
    body {
        font-family: "Sora", sans-serif;
        color: rgb(0, 0, 0);
    }
    
    section {
        padding: 40px 16px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.5);
        position: sticky;
        top: 0;
        backdrop-filter: blur(3px);
        z-index: 10;
      }
      .menu-row nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        
      }
      .resume button {
        margin-left: 30px;
        display: inline-flex;
        height: 48px;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: var(--Primary-Black);
        color: var(--Primary-White);
        border-radius: 8px;
        border-color: var(--Primary-White);
        border-style:solid;
        transition: filter 0.3s ease;
      }
      .resume button:hover {
        filter: invert(1);
      }
      .resume p {
        font-family: Sora;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        letter-spacing: 0.32px;
        color: var(--Primary-White);
        font-style: none;
        text-decoration: none;

      }
      
      .menu-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.menu-links a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.menu-links a:hover {
  background-color: #f0f0f0;
}
      
      /* Menu button styling */
      .menu button {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .menu button:focus {
        outline:none;
      }
      
      .menu button:hover {
        transform: scale(1.1);
      }
      
      .menu svg {
        width: 30px;
        height: 30px;
        transition: transform 0.5s ease;
      }
      
      .menu .line {
        transition: transform 0.5s ease, opacity 0.5s ease;
      }
      
      /* Animated line transformation for burger button */
      .menu.active .line1 {
        transform: translateY(6px) rotate(45deg);
      }
      .menu.active .line2 {
        opacity: 0;
      }
      .menu.active .line3 {
        transform: translateY(-6px) rotate(-45deg);
      }
      
      /* Pop-up menu styling */
      #menu-popup {
        display: none;
      }
      #bg-close {
        display: none;
      }
      nav ul {
        display: flex;
        flex-direction: row;
      }
      
      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      
      nav ul li a {
        font-size: var(--P2-Size);
        text-decoration: none;
        color: var(--Primary-Black);
        transition: color 0.3s ease;
      }
      
      nav ul li a:hover {
        color: var(--Primary-Neutral);
      }
      
    
    .brand {
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--Primary-Black);
    }
    
    .brand img {
        height: 70px; /* Adjust size as needed */
        margin-right: 8px;
    }
    
    .brand span {
        font-size: var(--Heading5-Size);
        line-height: var(--Heading5-LH);
        letter-spacing: var(--Heading5-Track);
        font-weight: 700;
        color: var(--Primary-Black);
    }
    
    
    .menu button {
        /* color: var(--Primary-Black);
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: fit-content;
        width: fit-content;
        transition: 0.3s ease; */
        display: none;
    }
    
    .menu button:hover {
        border: none;
        transform: scale(1.11);
    }
    
    .menu svg {
        fill: black;
    }
    
    .hero {
        flex-direction: row;
        justify-content: space-around;
    }
    .hero h1 {
        font-size: var(--Display-Size);
        line-height: var(--Display-LH);
        letter-spacing: var(--Display-Track);
    }
    
    .hero-image img {
        max-width: 600px;
        min-width: 550px;
        border-radius: 8px; /* Optional: to round corners */
        max-height: 350px;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: right;
    }
    
    .hero-text {
        max-width: 400px;
        display: flex;
        gap: 32px;
        display: flex;
        flex-direction: column;
    }
    
    .hero-text h1 {
        font-size: var(--Display-Size-M);
        line-height: var(--Display-LH-M);
        letter-spacing: var(--Display-Track-M);
        font-weight: 400;
    }
    
    .hero-text h1 strong, .hero-text h1 b {
        font-weight: 800;
    }
    
    .hero-text h1 span {
        font-weight: 900;
        background: linear-gradient(178deg, rgb(25, 0, 255), rgb(255, 0, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
    }
    
    .hero-text p {
        color: var(--Zinc-500);
        font-size: var(--P2-Size);
        line-height: var(--P2-LH);
        letter-spacing: var(--P2-Track);
    }
    
    .skills {
        display: grid;
        gap: 20px;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    h2 {
        padding: 20px 0;
        text-align: center;
        font-size: var(--Display-Size-M);
        line-height: var(--Display-LH-M);
        letter-spacing: var(--Display-Track-M);
        font-weight: 400;
    }
    
    h2 b {
        font-weight: 800;
    }
    
    .skill-item {
        column-count: 2;
        display: flex;
        padding: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        flex: 1 0 0;
        border-radius: 4px;
        border: 2px solid var(--Primary-Black, #000);
        background: var(--Primary-White, #FFF);
        transition: background-color 0.3s, transform 0.3s;
        aspect-ratio: 1;
        width: auto;
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .skill-item svg {
        align-items: center;
        width: 56px;
        height: auto;
    }
    .experience-box {
      margin: 15px 100px;
        transition: transform 0.3s ease;
    }
    .experience-box:hover {
    transform: scale(1.01);
    }

    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .project h2 {
        font-size: var(--Heading2-Size);
        line-height: var(--Heading2-LH);
        letter-spacing: var(--Heading2-Track);
    }
    .project-img {
        max-width: 450px;
        min-width: 450px;
    }
    .project-item {
        flex-direction: row;
        align-items: center;

    }
    .project-item:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .project-details {
        align-items: center;
    }
    .project-item span {
        font-size: var(--Heading1-Size);
        line-height: var(--Heading4-LH);
        letter-spacing: var(--Heading4-Track);
        color: var(--Primary-White);
        font-weight: 800;
        margin-bottom: 28px;
    }
    .project-details button {
      display: inline-flex;
      height: 48px;
      padding: 16px 13px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background-color: var(--Primary-Black);
      color: var(--Primary-White);
      border-radius: 8px;
      border-color: var(--Primary-White);
      
      transition: filter 0.3s ease;
    }
    .project-details button:hover {
      filter: invert(1);
    }
    .project-details button p {
      color: var(--Primary-White);
      text-align: center;
      margin-bottom: 0;
    }
    .testi-list {
        flex-direction: row;
    }
    .contact-container {
        width: auto;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;
    }
    .contact-form {
        flex-direction: row;
        display: flex;
        
    }
    .contact-info {
        max-width: fit-content;
        min-width: 608px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 100px;
    }
    .contact-info H1 {
      
        
/* Outlined/Extra Bold */
-webkit-text-stroke-width: 3;
-webkit-text-stroke-color: var(--Primary-Black, #000);
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
    }
    .contact-info p {
        font-size: var(--P2-Size);
        line-height: var(--P2-LH);
        letter-spacing: var(--P2-Track);
    }
    
    .contact-me {
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .form-group input, .form-group textarea {
        width: 400px;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #000;
        border-radius: 5px;
        box-sizing: border-box;
        align-items: center;
    }
}